/*
* littlelink.io
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/

/*
* Built using on:
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/

/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––

- Buttons
- Brand Styles

*/

/* #region Buttons */

.button,
button {
  position: relative;
  display: inline-block;
  text-decoration: none;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
  /* width: 300px; */
  width: 20ch;
  font-weight: 700;
  line-height: 20px;
  /* padding: 14px 12px 12px 12px; */
  padding: 0.8em 2.6em;
  letter-spacing: 0.1px;
  white-space: wrap;
  outline: none;
  border-radius: 8px;
  cursor: pointer;
}
button:hover,
.button:focus {
  color: #212121;
  border-color: #888;
  outline: #7ab8ff solid 3px;
}
.button.button-primary {
  color: #fff;
  filter: brightness(90%);
}
.button.button-primary:hover,
.button.button-primary:focus {
  color: #fff;
  filter: brightness(90%);
}
.button.disabled {
  cursor: not-allowed;
  /* filter: grayscale(0.5); */
  /* filter: blur(1px) !important; */
  filter: saturate(0.5) !important;
  opacity: 0.4;
}
/* .button.disabled:after {
  content: '';
  pointer-events: none;
  position: absolute;
  inset: 0;
} */
/*
.button.disabled:hover,
.button.disabled:focus {
  filter: grayscale(1) !important;
}
*/

/* #endregion */

/* Brand Icons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.icon {
  position: absolute;
  /* padding: 0px 8px 3.5px 0px; */
  padding: 0;
  vertical-align: middle;
  width: auto;
  height: 1em;
  left: 0.8em;
}

/* Brand Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Default (this is great for your own brand color!) */
.button.button-default {
  color: #ffffff;
  background-color: #f9b950;
}
.button.button-default:hover,
.button.button-default:focus {
  filter: brightness(90%);
  /* background-color: #f9b950cc; */
}

.button.button-lfv {
  color: #f9b950;
  background-color: #fff;
  border: 2px solid lightgray;
  margin-block: 1.5em;
  transition: transform 500ms ease;
}
.button.button-lfv:hover,
.button.button-lfv:focus {
  /* filter: brightness(90%); */
  transform: scale(1.1);
}
/* 
.button.button-email {
  color: #505659;
  background-color: #f9b950;
}
.button.button-email:hover,
.button.button-email:focus {
  filter: brightness(90%);
}
.button.button-email .icon {
  filter: invert(0.6);
}
 */

/* Cal.com */
.button.button-cal {
  color: #ffffff;
  background-color: #292929;
  border: 1px solid #ffffff;
}
.button.button-cal:hover,
.button.button-cal:focus {
  filter: brightness(90%);
}

/* Calendly */
.button.button-calendly {
  color: #ffffff;
  background-color: #006bff;
}
.button.button-calendly:hover,
.button.button-calendly:focus {
  filter: brightness(90%);
}

/* Discord */
.button.button-discord {
  color: #ffffff;
  background-color: #5865f2;
}
.button.button-discord:hover,
.button.button-discord:focus {
  filter: brightness(90%);
}

/* Facebook */
.button.button-faceb {
  color: #ffffff;
  background-color: #1877f2;
}
.button.button-faceb:hover,
.button.button-faceb:focus {
  filter: brightness(90%);
}

/* Facebook Messenger */
.button.button-messenger {
  color: #ffffff;
  background-image: linear-gradient(
    25deg,
    #0099ff,
    #5f5dff,
    #a033ff,
    #c740cc,
    #ff5280,
    #ff7061
  );
}
.button.button-messenger:hover,
.button.button-messenger:focus {
  filter: brightness(90%);
}

/* GitHub */
.button.button-github {
  color: #ffffff;
  background-color: #000000;
  border: 1px solid #ffffff;
}
.button.button-github:hover,
.button.button-github:focus {
  filter: brightness(90%);
}

/* Instagram */
.button.button-instagram {
  color: #ffffff;
  background-image: linear-gradient(-135deg, #1400c8, #b900b4, #f50000);
}
.button.button-instagram:hover,
.button.button-instagram:focus {
  filter: brightness(90%);
}

/* LinkedIn */
.button.button-linked {
  color: #ffffff;
  background-color: #2867b2;
}
.button.button-linked:hover,
.button.button-linked:focus {
  filter: brightness(90%);
}

/* Mastodon */
.button.button-mastodon {
  color: #ffffff;
  background-color: #17063b;
  border: 1px solid #ffffff;
}
.button.button-mastodon:hover,
.button.button-mastodon:focus {
  filter: brightness(90%);
}

/* Post.news */
.button.button-post-news {
  color: #ffffff;
  background-color: #678bff;
}
.button.button-post-news:hover,
.button.button-post-news:focus {
  filter: brightness(90%);
}

/* Signal */
.button.button-signal {
  color: #ffffff;
  background-color: #3a76f0;
}
.button.button-signal:hover,
.button.button-signal:focus {
  filter: brightness(90%);
}

/* Slack */
.button.button-slack {
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #212121;
}
.button.button-slack:hover,
.button.button-slack:focus {
  filter: brightness(90%);
}

/* Threema */
.button.button-threema {
  color: #000000;
  background-color: #3fe669;
}
.button.button-threema:hover,
.button.button-threema:focus {
  filter: brightness(90%);
}

/* Untappd */
.button.button-untappd {
  color: #ffffff;
  background-color: #ffc000;
}
.button.button-untappd:hover,
.button.button-untappd:focus {
  filter: brightness(90%);
}

/* WhatsApp */
.button.button-whatsapp {
  color: #ffffff;
  background-color: #455a64;
}
.button.button-whatsapp:hover,
.button.button-whatsapp:focus {
  filter: brightness(90%);
}

/* Wordpress */
.button.button-wordpress {
  color: #ffffff;
  background-color: #21759b;
}
.button.button-wordpress:hover,
.button.button-wordpress:focus {
  filter: brightness(90%);
}
